.Reader {
  width:600px;
  margin:0 auto;
  font-family:Courier;
  margin: 0;
  padding: 0;
  border: 0;
}


.Reader-canvas {
  font-size:40px;
  border:2px solid;
  width:21rem; 
  display:inline-block;
  padding-left: 5px;
  padding-right: 5px;
  border-radius:0.25rem;
}


.Reader-word-content{
  /* overflow:auto; */
  padding:20px;

  width:600px;
  height:350px;
  border:1px solid;

  /* left: 50%; */
  /* transform: translateX(+60%); */

}

/*
* styles all text in the v tag to be red.
* This is a horrible way to do this.
*/
.red {
  color:red;
}


.public-DraftEditor-content {
  max-height: 350px;
  overflow: auto;
}

.center {
  text-align: center;
}


.editor {  
  border: solid gray 1px;
  min-height: 20em;
  padding: 20px;
}

.readerSurroundingWord {
  font-size: 1em;
}

.hide
.settings-close {
  display: none;
}


.highlighted {
  font-weight: bold;
  color: 'rgba(180, 180, 0, 1.0)';
}


/*
DraftEditorBlock {
  color: red;
}
*/

/* adding gradients */

/* linear-gradient(direction, color-stop1, color-stop2, ...); */

/* background: -webkit-linear-gradient(#00AD00, #0077AD); */


/*
.EditorRoot,
.public-DraftStyleDefault-block,
.public-DraftStyleDefault-ltr {

  background: rgb(2,0,36); 
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #00AD00 50%, #0077AD 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
*/

  /* white-space: pre-line; 
  display: inline-block;
  */

/*
.EditorRoot,
.public-DraftStyleDefault-block,
.public-DraftStyleDefault-ltr::first-letter {

  color: red !important; 
}


.grad {
  
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, #00AD00 50%, #0077AD 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
} 
*/

