html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* kill scrollbars from hell */
#c {
  display: block;
}


.Reader {
  width:600px;
  margin:0 auto;
  font-family:Courier;
}


.Reader-canvas {
  font-size:40px;
  border:2px solid;
  width:21rem; 
  display:inline-block;
  padding-left: 5px;
  padding-right: 5px;
  border-radius:0.25rem;
}


.Reader-word-content{
  /* overflow:auto; */
  padding:20px;

  width:600px;
  height:350px;
  border:1px solid;

  /* left: 50%; */
  /* transform: translateX(+60%); */

}

/*
* styles all text in the v tag to be red.
* This is a horrible way to do this.
*/
.red {
  color:red;
}


.public-DraftEditor-content {
  max-height: 350px;
  overflow: auto;
}

.center {
  text-align: center;
}

.editor {
  border: '1px solid gray';
  minHeight: '6em';
  border-radius:0.25rem;
}



.readerSurroundingWord {

  font-size: 1em;
}

.hide
.settings-close {
  display: none;
}





